In [2]:
import pandas as pd

In [4]:
events = pd.read_csv('/Users/VivoBook/PycharmProjects/pythonProject3/notebooks/csv/events.csv')
events

,ID_MATCH,DATE,TOURNAMENT,MINUTE,SCORE,PLAYER_1,RESULT_1,XG_1,PLAYER_2,RESULT_2,...,O-WIN1,O-DRAW,O-WIN2,O-TB25,O-TM25,C-WIN1,C-DRAW,C-WIN2,C-TB25,C-TM25
0,123738,01.01.1970 03:00:00,England League One 2021_2022,3,0-0,NaN,NaN,NaN,G. NURSE [Shrewsbury] [Town],missing,...,1.94,3.34,4.0,2.18,1.66,2.17,3.39,3.59,2.14,1.75
1,123738,NaN,England League One 2021_2022,11,0-0,C. BISHOP [Accrington] [Stanley],save,0.088,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,123738,NaN,England League One 2021_2022,15,0-0,C. BISHOP [Accrington] [Stanley],save,0.447,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,123738,NaN,England League One 2021_2022,15,0-0,J. MUMBONGO [Accrington] [Stanley],goal,0.746,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,123738,NaN,England League One 2021_2022,17,1-0,NaN,NaN,NaN,T. BLOXHAM [Shrewsbury] [Town],save,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1628253,145737,NaN,Spain LaLiga2 2021_2022,64,0-1,JUAN VILLAR [Almeria],save,0.065,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1628254,145737,NaN,Spain LaLiga2 2021_2022,64,0-1,CÉSAR DE LA HOZ [Almeria],missing,0.145,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1628255,145737,NaN,Spain LaLiga2 2021_2022,73,0-1,SERGIO AKIEME [Almería],missing,0.053,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1628256,145737,NaN,Spain LaLiga2 2021_2022,90,0-1,JUAN VILLAR [Almeria],nopenal,0.775,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1628257,145737,NaN,Spain LaLiga2 2021_2022,90+1,0-1,NaN,NaN,NaN,IVÁN MARTÍN [Girona],missing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN